* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  padding: 30px;
  font-family: "Oswald", sans-serif;
  line-height: 25px;
}

.name {
  font-size: 30px;
}

.header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-block .photo-container {
  display: block;
  width: 35%;
  height: 35%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header-block .photo {
  width: 70%;
  min-height: 125px;
  min-width: 125px;
  border-radius: 25%;
  float: right;
  overflow: hidden;
}
.header-block .information {
  margin: 10px 0 0 0;
  font-size: 18px;
}

.dot {
  display: inline-block;
  background-color: #767676;
  width: 3px;
  height: 3px;
  border-radius: 30%;
  margin: 0 10px 3px 10px;
}

.footer .mail {
  display: inline-block;
  color: #757575;
  position: relative;
}
.footer .telegram img {
  width: 20px;
  height: 20px;
  margin: 0 3px 0 0;
  position: relative;
}