@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
@import "utils/constants";
@import "utils/mixins";

.image-overlay {
  position: absolute;
  top: 20%;
  right: 0;
  width: 38%;
  height: 37%;
  overflow: hidden;
  background: url(img/rectangle-bg.svg) no-repeat center center;
  background-size: contain;
  z-index: 1;
  @include small-tablet {
    width: 51%;
    height: 47%;
  }
}

* {
  box-sizing: border-box;
}

a:visited {
  color: $white-color;
}

body {
  background: $main-bg;
  z-index: 0;
  position: relative;
}

.wrapper {
  max-width: $component-max-width;
  margin: 0 auto;
  padding: 0 10px;
  z-index: 2;
  @include small-tablet {
    padding: 0 100px;
  }
}

.section-header {
  @include text-styling($Poppins, 28px, 600, $white-color);

  @include medium-tablet {
    font-size: 32px;
  }

  @include large-tablet {
    font-size: 48px;
  }
  @include desktop {
    font-size: 64px;
  }
}

.section{
  margin-top: 70px;
  @include medium-tablet {
    margin-top: 120px;
  }
  @include desktop {
    margin-top: 150px;
  }
}
