@import "utils/constants";
@import "utils/mixins";

.footer {
  padding-bottom: 30px;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100% 100%;
  row-gap: 10px;

  @include medium-tablet{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%
  }
}

.footer-text {

  @include text-styling($Poppins, 16px, 600, $white-color);

  @include medium-tablet {
    font-size: 28px;
  }

}

.footer-link {
  align-items: center;
  @include text-styling($Poppins, 14px, 600, $white-color);

  @include medium-tablet {
    font-size: 20px;
  }

  &:hover {
    color: #2a9fcaff;
  }
}

.footer-links {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 1em;

  svg {
    width: 30px;
  }

  @include medium-tablet{
    grid-row-start: auto;
    grid-column-start: auto;
    grid-column-end: auto;
    justify-content: center;
    gap: 30px;
  }
}



