@import "utils/constants";
@import "utils/mixins";



.technologies-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 55px;
  @include medium-tablet {
    margin-top: 80px;
  }
  @include desktop {
    margin-top: 133px;
  }
}

.technologies-item {
  display: flex;
  flex-direction: column;
}

.tech-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tech-text-1 {
  @include text-styling($Poppins, 16px, 600, $white-color);

  @include medium-tablet {
    font-size: 24px;
  }
}

.tech-text-2 {
  @include text-styling($Poppins, 12px, 600, $white-color);

  @include medium-tablet {
    font-size: 16px;
  }
}

.tech-progress{
  width: 100%;
  height: 22px;
  border-radius: 83px;
  background: #162950;
  position: relative;
  z-index: 1;
  &:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    border-radius: 83px;
    background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
    z-index: 2;
  }
}

.tech-progress-1{
  &:after{
    width: 80%;
  }
}

.tech-progress-2{
  &:after{
    width: 80%;
  }
}

.tech-progress-3{
  &:after{
    width: 20%;
  }
}