@import "constants";

@mixin text-styling($font-family, $font-size, $font-weight, $color,) {
  font-family: $font-family;
  font-style: normal;
  color: $color;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: normal;
}
@mixin phone {
  @media (min-width: 450px) {
    @content;
  }
}

@mixin small-tablet {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin medium-tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin large-tablet {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin button-preset($width,$height) {
  display: block;
  width: $width;
  height: $height;
  box-shadow: 1px 1px;
  cursor: pointer;
  border: none;
  border-radius: 83px;
  background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
  &:hover {
    cursor: pointer;
    transition-duration: 0.5s;
    box-shadow: 1px 1px #000000;
    filter: brightness(0.8)
  }

  &:active {
    position: relative;
    left: 1px;
    top: 1px;
  }
}